.row {
    width: 101%;
    padding-left: 1%;
}

#titleRow {
    height: 30vh;
    background-color: black; 
    color: rgb(0, 0, 0);
    border-bottom:solid;
    border-bottom-color:white;
    background: url("../resources/gateway-arch.png");
    background-position: 50% 35%;
    background-size:100%;
}

#buttonRow {
    height: 70vh;
    background-color: rgb(194,142,14);
    padding-left: 5%;
}

#title {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:8vw;    
    font-family: Georgia, serif;
}

#loginGuest {
    width:50%;
    padding-left:10vw;
}

#loginStudent {
    width:50%;
    padding-left:13vw;
    border-left: solid;
    border-left-color: black;
}

.paragraph {
    font-size:1.5vw;
}

.buttonCustom {
    display:flex;
    align-items: center;
    justify-content: center;
    border-color:black;
    border-radius: 6px;
}

/*Sets form control background when not click in*/
.form-control {
    background-color: transparent;
}

/*Sets placeholder text for inputs*/
input::-webkit-input-placeholder {
    color: rgb(0, 0, 0) !important;
    font-size:1vw;
    display:flex;
    align-items: center;
    justify-content: center;
}
     
input:-moz-placeholder { /* Firefox 18- */
    color: rgb(0, 0, 0) !important;  
    font-size:1vw;    
    display:flex;
    align-items: center;
    justify-content: center;
}
     
input::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(0, 0, 0) !important;  
    font-size:1vw;   
    display:flex;
    align-items: center;
    justify-content: center; 
}
  
input:-ms-input-placeholder {  
    color: rgb(0, 0, 0) !important;  
    font-size:1vw;  
    display:flex;
    align-items: center;
    justify-content: center;  
}

/*Color of text in inputs when not clicked in*/
input, select, textarea{
    color: rgb(0, 0, 0) !important;
    font-size:1vw;    
    display:flex;
    align-items: center;
    justify-content: center;
}
    
/*Color of text and background when clicked in*/
textarea:focus, input:focus {
    color: #ffffff !important;
    background-color:transparent !important;
}

/*Width of tabs area*/
.tabs {
    width:100%;
}
 
/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
 
.tab-links li {
    margin:1vw 1vw;
    float:left;
    list-style:none;
    padding-left:7vw;
}
 
.tab-links a {
    padding:1vw 1vw;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    font-size:3.5vw;
    font-weight:600;
    color:rgb(0, 0, 0);
    opacity: .75;
    transition:all linear 0.15s;
    border-bottom:1px solid rgb(77, 64, 56);
    font-family:helvetica;
}
 
.tab-links a:hover {
    text-decoration:none;
    opacity: .8;
}
 
li.active a, li.active a:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
    font-size: 4vw;
    border-bottom:3px solid rgb(255, 255, 255);
}
 
/*----- Content of Tabs -----*/
.tab-content {
        padding:15px;
        border-radius:3px;
        width:85%;
}
 
.tab {
    display:none;
}
 
.tab.active {
    display:block;
}

.noProgressBar {
	display: none;
}
