.row {
    width:101vw;
}

.col-2 {
    background: url("../resources/stripes.jpg");    
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}
 
.tab-links li {
    float:left;
    list-style:none;
}
 
/*Non active tabs*/
.tab-links a {
    display:block;
    height:100%;
    font-size:1.2vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(194,142,14);
    transition:all linear 0.15s;
    border-top:1.5px solid rgb(255, 255, 255);
    border-bottom:1.5px solid rgb(255, 255, 255);    
    font-family:Georgia, serif;
    width:100%;
}
 
/*Active tab*/
li.active a, li.active a:hover {
    color: rgb(194,142,14);
    font-size: 1.45vw;
    text-align: center;
    vertical-align: middle;
    background-color:rgb(255, 255, 255);
    border-top:2px solid rgb(0, 0, 0);   
    border-bottom:2px solid rgb(0, 0, 0);   
}
 
.tab-links a:hover {
    text-decoration:none;
}

.take-all-space {
    width:100%;
    height:10vh;
}

/*----- Content of Tabs -----*/
.tab-content {
       
}
 
.tab {
    display:none;
}
 
.tab.active {
    display:block;
}

/*------------------------------AGRICULTURE------------------------------*/
#agricultureTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-bottom:solid;
    border-bottom-color:rgb(0, 0, 0);
    background: url("../resources/agriculture.jpg");    
    background-position: 50% 70%;
    background-size:100%;
}

#agricultureTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:7vw;    
    font-family: Georgia, serif;
}

#agricultureContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .agriculture a {
    background-color:rgb(59, 59, 59);
}

#chatBox_agriculture {
    resize:none; 
    text-align:left; 
    margin-bottom:2vh;
    margin-top:8vh;
    margin-left:12vh;
    height:58vh; 
    width:85%; 
    border-radius: 0.25em;     
    border:0.45vh solid rgb(0, 0, 0); 
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    overflow:auto;
    font-family: Georgia, serif;
}

#messageBox_agriculture {
    width: 74%; 
    height: 4vh;
    margin-left:12vh;
    border-radius: 0.25em;         
    border:0.45vh solid rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-family: Georgia, serif;
}

#sendButton_agriculture {
    width: 8vw;
    height: 4vh; 
    margin-left: 0.5vw;
    padding:0px;
    font-size:2vh;
    font-family: Georgia, serif;
    border:0.35vh solid rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    background: url("../resources/stripes.jpg");    
}

/*------------------------------EDUCATION------------------------------*/
#educationTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(152, 112, 13);
    border:solid;
    border-color:rgb(255, 255, 255);
}

#educationTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:8vw;    
    font-family: Georgia, serif;
}

#educationContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .education a {
    background-color:rgb(59, 59, 59);
}

/*------------------------------ENGINEERING------------------------------*/
#engineeringTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(152, 112, 13);
    border:solid;
    border-color:rgb(255, 255, 255);
}

#engineeringTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:8vw;    
    font-family: Georgia, serif;
}

#engineeringContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .engineering a {
    background-color:rgb(59, 59, 59);
}

/*------------------------------EXPLORATORY------------------------------*/
#exploratoryTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(152, 112, 13);
    border:solid;
    border-color:rgb(255, 255, 255);
}

#exploratoryTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:8vw;    
    font-family: Georgia, serif;
}

#exploratoryContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .exploratory a {
    background-color:rgb(59, 59, 59);
}

/*------------------------------HEALTH AND HUMAN------------------------------*/
#healthTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(152, 112, 13);
    border:solid;
    border-color:rgb(255, 255, 255);
}

#healthTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:5vw;    
    font-family: Georgia, serif;
}

#healthContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .health a {
    background-color:rgb(59, 59, 59);
}

/*------------------------------LIBERAL ARTS------------------------------*/
#liberalTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(152, 112, 13);
    border:solid;
    border-color:rgb(255, 255, 255);
}

#liberalTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:8vw;    
    font-family: Georgia, serif;
}

#liberalContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .liberal a {
    background-color:rgb(59, 59, 59);
}

/*------------------------------MANAGEMENT------------------------------*/
#managementTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(152, 112, 13);
    border:solid;
    border-color:rgb(255, 255, 255);
}

#managementTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:6vw;    
    font-family: Georgia, serif;
}

#managementContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .management a {
    background-color:rgb(59, 59, 59);
}

/*------------------------------PHARMACY------------------------------*/
#pharmacyTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(152, 112, 13);
    border:solid;
    border-color:rgb(255, 255, 255);
}

#pharmacyTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:8vw;    
    font-family: Georgia, serif;
}

#pharmacyContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .pharmacy a {
    background-color:rgb(59, 59, 59);
}

/*------------------------------POLYTECHNIC------------------------------*/
#polytechnicTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(152, 112, 13);
    border:solid;
    border-color:rgb(255, 255, 255);
}

#polytechnicTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:8vw;    
    font-family: Georgia, serif;
}

#polytechnicContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .polytechnic a {
    background-color:rgb(59, 59, 59);
}

/*------------------------------SCIENCE------------------------------*/
#scienceTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(152, 112, 13);
    border:solid;
    border-color:rgb(255, 255, 255);
}

#scienceTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:8vw;    
    font-family: Georgia, serif;
}

#scienceContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .science a {
    background-color:rgb(59, 59, 59);
}

/*------------------------------VETERINARY MEDICINE------------------------------*/
#veterinaryTitleRow {
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(152, 112, 13);
    border:solid;
    border-color:rgb(255, 255, 255);
}

#veterinaryTitle {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:7vw;    
    font-family: Georgia, serif;
}

#veterinaryContentRow {
    background-color:rgb(194,142,14);
    height:80vh;
}

/*Non active tabs*/
.tab-links, .veterinary a {
    background-color:rgb(59, 59, 59);
}
