#titleRow {
    height: 30vh;
    color: rgb(0, 0, 0);
    border:solid;
    border-color:rgb(255, 255, 255);
    background: url("../resources/2048.jpg");
    background-position: 0% 40%;
    background-size:100%;
}

#buttonTable1 {
    background-color: rgb(0, 0, 0);
    height:35vh;
}

#buttonTable2 {
    background-color: rgb(0,0,0);
    height:35vh;
}

#title {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
    font-size:8vw;    
    font-family: Georgia, serif;
}

.buttonCustom {
    width:100%;
    height:100%;
    color:rgb(255, 255, 255);
    background-color:rgb(194,142,14);
    font-family: Georgia, serif;
    font-size:3.6vh;
    border:0.25vh solid rgb(255, 255, 255);
}

.row {
    width:101vw;
}

#agricultureButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#educationButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#engineeringButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#exploratoryButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#healthButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#liberalButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#managementButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#pharmacyButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#polytechnicButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#scienceButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#veterinaryButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}

#logoutButton:hover {
    background-color:rgb(255, 255, 255);
    color:rgb(194,142,14);
    border:0.5vh solid rgb(65, 65, 65);
    font-size:4vh;
}